body{
    margin:0%;
}  
html{
    scroll-behavior: smooth;
}
.side{
    position: fixed;
    height: 100%;
    width: 20%;
    margin-top: 0%;
    margin-left: 0%;
    background-color: black;
    text-align: center;
    font-size: 25px;
}
.detail{
    font-size: 30px;
    overflow-y: auto;
    margin-left: 20%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://img.rawpixel.com/private/static/images/website/2022-12/pf-s80-pastel-ploy-06a-01-mockup.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=f756971c99f0e95a6c6204a8cc071eb2");
}
#skills{
    color: rgb(0, 0, 0);
    background-image: url("https://www.garneteducation.com/app/uploads/cover_Lightbulb_iStock-903073904-e1552910915471.jpg");
    background-size: cover;
    text-align:center;
}
#skills img{
    width: 75px;
    height: 75px;
    padding: 15px;
}
#skills #in{
    background-color: rgba(236, 195, 253, 0.85);
}
#about{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907305.jpg?w=2000");
    background-size: cover;
}
#about p{
    margin-left:12%;
    margin-right:12%;
    font-size:25px;
}
#home table{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    text-align:center;
}
.fa,a,a:visited {
    width: 50px;
    text-decoration: none;
    border-radius: 100%;
    color:rgb(255, 255, 255);
    font-size: 30px;
}
#con .fa{
    width: 50px;
    text-decoration: none;
    border-radius: 100%;
    font-size: 30px;
    color:rgb(0, 0, 0);
}
#con{
    background-image: url("https://media.istockphoto.com/id/1371726643/photo/different-notifications-on-violet-background-pop-up-messages-copy-space.jpg?b=1&s=170667a&w=0&k=20&c=FhmBYUrsGsR0hYn5zEDa0SkEFfF-rwuUfMEZ4HpX0rE=");
    background-size: cover;
}
form{
    width: 36%;
    margin-left: 32%;
    font-size: 25px;
    border: 2px solid rgb(128, 128, 128);
    padding: 2px;
    background-color: rgb(222, 247, 253);
}
#pro{
    background-image: url("https://media.istockphoto.com/id/1435226158/photo/circuit-board-background-computer-data-technology-artificial-intelligence.jpg?b=1&s=170667a&w=0&k=20&c=d-gHg6uCV5JEaKJCpxhJ01Ab19m032daRC8vDo8NzDI=");
    background-size: cover;
}
#pro table{
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    color: rgb(92, 241, 255);
    font-size: 20px;
}
#pro p{
    color: rgb(255, 255, 255);
}
#pro td{
    background-color: rgba(28, 93, 159, 0.88);
    border-radius:15px;
}